.stafflogin{
  border-width: 1px;
}

.logo{
  text-align: center;
  padding: 8px;
  background-color: gray;
  border-radius: 10px;
  border-width:10px;
  border-style:double;
}

footer {
  text-align: center;
  border-radius: 0px;
  padding: 10px;
  background-color: gray;
 }

 .formtitle {
  text-align: center;
 }

 .adm {
  background-image: url(College.jpg);
  background-size:cover;
  height: 420px;
  box-sizing: border-box;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-width: 100%;
 }

 .address {
 }
  

form {
  position:absolute;
  left: 70%;
  width: 27%;
  background-size: 100%;
  background-color:gray;
  opacity: 0.75;
  height:fit-content;
  border-radius: 30px;
}

fieldset {
  border-width: 5px;
}

legend {
  font-size:200%;

}

label {
  font-weight: bold;

}


select {
  width: 100%;
 }


input, select {
  width: 90%;
  display:list-item;
  border: 1px solid #ccc;
  border-width: 5px;
  border-style:outset;
  font-weight: bold;
  border-color:black;
  font-family: Arial, Helvetica, sans-serif;
  color: black;

}


button{
  border-style: outset;
  border-width: 3px;
  text-decoration-color: wheat;
}

marquee{
  background-color:red;
  font-style: oblique;
  color:black ;
  font-weight: bold;
  padding: 1px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 0%;
}